<script type="text/javascript" src="/scripts/available.js"></script>
<div class="row">
 
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading" id="freeRooms">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hospital-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="free-rooms-live" class="huge"></div>
                        <div>Free rooms</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading" id="rooms">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hotel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="rooms-live" class="huge"></div>
                        <div> Rooms</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
